<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/podcasts">Podcasts</a>
  </li>
  <% if (locals.isLoggedIn) { %>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
  <% } %>
</ul>
