<h1>Podcasts</h1>
<div class="row playlist-item">
  <% podcasts.forEach(podcast => { %>
      <div class="col-lg-3 col-m-4 col-sm-6 col-xs-12">
      <img src="<%= podcast.image %>" width="250">
      <h4><%= podcast.title %></h4>
      <h6><%= podcast.artist %></h6>
      <a href="<%= podcast.feedUrl %>" target="_blank"><h6>More Info</h6></a>
  </div>
  <% }); %>
</div>
