
<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>


<form class="form-inline search-podcasts">

  <div class="form-group">

  </div>
  <h3>Seach pocasts to add to your playlist</h3>
  <div class="form-group mx-sm-3">
    <label type="search" class="sr-only"></label>
    <input type="search" class="form-control" placeholder="e.g full stack">
  </div>
  <button type="submit" class="btn btn-primary" value="Search Podcast">Search</button>
</form>

<ul class="podcasts-search-results row"></ul>

<%# <form method="post" action="/podcasts">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>

  <label for="image">Image</label>
  <input type="text" id="image" name="image">

  <input type="submit" value="Submit">
</form>%>
